@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    height: 100%;
  }
}

#backgroundLayer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background: linear-gradient(to left, #0891b2, #1e40af);
  opacity: 0.8;
}

select option {
  margin: 40px;
  background: rgba(33, 96, 204, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#mainTitle {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.fadeDown {
  animation: fadeDown 1s forwards;
  animation-delay: 0.5s;
}

.fadeLeft {
  animation: fadeLeft 1s forwards;
  animation-delay: 0.5s;
}

.fadeRight {
  animation: fadeRight 1s forwards;
  animation-delay: 0.5s;
}

.fadeUp {
  animation: fadeUp 1s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeDown {
  0% {
    transform: translateY(-15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
